{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        {% if app.user %}
        <div class="d-flex">
            <a
                    class="btn btn-success m-1 showFormAddLink"
                    id="showFormAddLink" href="#" title="Cliquez ici ou sur la touche 't' pour afficher le formulaire puis 'Echap' pour le fermer">
                Ajouter un lien
            </a>
            <div class="dropdown ms-auto">
                <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Trié par :
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{{ path('link') }}">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>

        <meta-link>
            {{ form_start(form, {attr: {class: 'form addFormLink hide', id: 'addFormLink'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(form) }}
        </meta-link>
    {% endif %}



    <h2 class="border-bottom border-gray pb-2 mb-0">Les derniers liens ajoutés</h2>

    {% include 'partials/links.twig' with {'links': links} only %}

    <small class="d-block text-right mt-3">
        <a href="{{ path('link.index') }}" title="Voir la totalité des liens">Voir tous les liens</a>
    </small>

{% endblock %}

