{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}

        {{ form_start(filterForm, {attr: {class: 'filter'}}) }}
            {{ form_row(filterForm.orderBy) }}
            {{ form_row(filterForm.search, {attr: {autofocus: 'autofocus'}}) }}
            {% if app.user %}
                {{ form_row(filterForm.bView) }}
                {{ form_row(filterForm.byCurrentUser) }}
            {% endif %}
            <button type="submit" class="btn btn-primary"><i class="fas fa-filter"></i> Filtrer</button>
            <a href="{{ path('root') }}" class="btn btn-danger" title="Rénitialiser le filtre">Annuler</a>
        {{ form_end(filterForm) }}

        {% if app.user %}

        <a
                class="btn btn-success m-1 showFormAddLink"
                id="showFormAddLink" href="#" data-bs-toggle="modal" data-bs-target="#addLink"
                title="Cliquez ici ou Ctrl + k pour afficher le formulaire d'ajout">
            +
        </a>

        <!-- Modal -->
        <div class="modal fade" id="addLink" tabindex="-1" aria-labelledby="addLink" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un lien</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <meta-link>
                            {{ form_start(form, {attr: {class: 'form link__form'}}) }}
                                {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                    {{ form_end(form) }}
                    </meta-link>
                </div>
            </div>
        </div>
    {% endif %}

    <h2 class="border-bottom border-gray pb-2 mb-0">Les derniers liens ajoutés</h2>

    {% include 'partials/links.twig' with {'links': links} only %}

    <small class="d-block text-right mt-3">
        <a href="{{ path('link.index') }}" title="Voir la totalité des liens">Voir tous les liens</a>
    </small>

{% endblock %}

