{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            Se connecter
        </div>
        <div class="card-body">
            <form action="" class="form" method="post">
                <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
                <div class="mb-3">
                    <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" placeholder="Mot de passe" id="inputPassword" class="form-control" required>
                </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock %}
