{% for link in links %}
    <a href="{{ path('link.seen', {id: link.id}) }}" class="link__url {{ is_granted('ROLE_ADMIN') or (link.canRemove(app.user) and link.seen ? 'seen' : '') }}" title="{{ link.description }}">
       {% if app.user and link.canRemove(app.user) %}
           <toolbox-item id="{{ link.id }}" edit_target="{{ path('link.edit', {id: link.id}) }}"></toolbox-item>
       {% endif %}
        <div class="card__link">
            <div class="card__image">
                <img class="" src="{{ link.image ? link.image : "https://via.placeholder.com/150/250" }}" alt="Mon image ici">
            </div>
            <div class="card__body">
                <div class="card__badge">
                    {% if link.isNew() %}
                        <span class="badge badge-success">News</span>
                    {% endif %}
                </div>
                <h3 class="card__title">{{ link.name }}</h3>
                <div class="card__info">
                    <span>{{ link.createdAt | date('d m Y') }}</span> -
                    <span>De {{ link.user.username }}</span>
                </div>
            </div>
            <div class="card__tags">
                {% for tag in link.tags %}
                 <span class="tag">{{ tag.name | capitalize }}</span>
                {% endfor %}
            </div>
        </div>
    </a>
{% endfor %}
