{% for link in links %}
    <a href="{{ link.url }}" class="link__url" title="{{ link.description }}">
        <div class="card__link">
            <div class="card__image">
                <img class="" src="{{ link.image ? link.image : "https://via.placeholder.com/150/250" }}" alt="Mon image ici">
            </div>
            <div class="card__body">
                <div class="card__badge">
                    <span class="badge badge-success">News</span>
                    <span class="badge badge-warning">Features</span>
                </div>
                <h3 class="card__title">{{ link.name }}</h3>
                <div class="card__info">
                    <span>{{ link.createdAt | date('d m Y') }}</span> -
                    <span>De {{ link.user.username }}</span>
                </div>
            </div>
            <div class="card__tags">
                {% for tag in link.tags %}
                 <span class="tag">{{ tag.name | capitalize }}</span>
                {% endfor %}
            </div>
        </div>
    </a>
{% endfor %}
