<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
    <title>{% block title 'Mon super site' %} - Powerlinks</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <script src="https://kit.fontawesome.com/d2320a4f38.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('root') }}">Power links</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a href="{{ path('root') }}" title="Voir la liste complète des liens" class="nav-link {{ menu_is_active('home') }}">
                        <i class="fas fa-home"></i>  Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('link.index') }}" title="Voir la liste complète des liens" class="nav-link {{ menu_is_active('link') }}">
                        <svg class="bi bi-link" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.354 5.5H4a3 3 0 000 6h3a3 3 0 002.83-4H9c-.086 0-.17.01-.25.031A2 2 0 017 10.5H4a2 2 0 110-4h1.535c.218-.376.495-.714.82-1z"/>
                            <path d="M6.764 6.5H7c.364 0 .706.097 1 .268A1.99 1.99 0 019 6.5h.236A3.004 3.004 0 008 5.67a3 3 0 00-1.236.83z"/>
                            <path d="M9 5.5a3 3 0 00-2.83 4h1.098A2 2 0 019 6.5h3a2 2 0 110 4h-1.535a4.02 4.02 0 01-.82 1H12a3 3 0 100-6H9z"/>
                            <path d="M8 11.33a3.01 3.01 0 001.236-.83H9a1.99 1.99 0 01-1-.268 1.99 1.99 0 01-1 .268h-.236c.332.371.756.66 1.236.83z"/>
                        </svg>
                        Liens
                    </a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a href="{{ path('link.private') }}" title="Voir la liste complète des liens" class="nav-link {{ menu_is_active('private') }}">
                        <i class="fas fa-user-shield"></i> Mes liens privés
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('user.profile', {id: app.user.id}) }}" class="nav-link"><img src="{{ app.user.avatar }}" alt="{{ app.user.username }}" class="rounded-circle"></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item" style="line-height: 2;"><a href="{{ path('admin_dashboard') }}" class="nav-link"><strong>Admin</strong></a></li>
                    {% endif %}
                    <li class="nav-item" style="line-height: 2;"><a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a></li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link btn btn-outline-success">
                            <i class="fas fa-sign-in-alt"></i> Se connecter
                        </a>
                    </li>
                    <li class="nav-item"><a href="{{ path('user.register') }}" class="nav-link">
                            <i class="fas fa-user-plus"></i> Créer un compte</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main class="main container">
    {% include 'partials/flash.html.twig' %}
    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <div class="footer-title">Me retrouver</div>
    <div class="hstack">
        <a href="https://github.com/tuxboy" title="Github" target="_blank" rel="noreferrer">
            <img src="/images/social/github.svg" class="lighten-dark" alt="" loading="lazy">
        </a>
        <a href="https://twitter.com/b_mallo" title="Twitter" target="_blank" rel="noreferrer">
            <img src="/images/social/twitter.svg" alt="" loading="lazy">
        </a>
    </div>

</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
